body {
  font-family: Consolas, monaco, monospace, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: left;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}
.input-form {
  margin-bottom: 15px;
  text-align: center;
}
textarea {
  font-family: Consolas, monaco, monospace;
  width: 100%;
  height: 40vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow-y: scroll;
  font-size: 16px;
  box-sizing: border-box;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #0056b3;
}
.output {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
  overflow-wrap:break-word;
  white-space: pre-wrap;
}
